.header {
    padding: 20px;
  h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #25a71c;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-decoration: underline overline;
    -webkit-text-stroke: medium;
  }
  }
  
  
  
  
  